# ESERCIZI PYTHON

### 1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [4]:
# point a
print("PUNTO A DELL ESERCIZIO:")
x = [0]
for i in range(1, 100):
    if i % 3 == 0 and i % 5 == 0:
        x.append("MickeyMouse")
    elif i % 3 == 0:
        x.append("Mickey")
    elif i % 5 == 0:
        x.append("Mouse")
    else: 
        x.append(i)
    print(x[i])
    
# point b
print("PUNTO B DELL ESERCIZIO:")
for i in range(1, 100):
    if x[i] == "Mickey": x[i] = "Donald"
    if x[i] == "Mouse":  x[i] = "Duck"
    print(x[i])
# metto in una tupla:
y = tuple(x)
print(y)

PUNTO A DELL ESERCIZIO:
1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
PUNTO B DELL ESERCIZIO:
1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
MickeyMouse
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
MickeyMouse
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
MickeyMouse
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
MickeyMouse
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
MickeyMouse
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
MickeyMouse
91
92
Donald
94
Duck
Donald
97
98
Donald
(0, 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

### 2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [11]:
x = input("Inserire valore x: ")
y = input("Inserire valore y: ")
def swap(a, b):
    return b, a   # Restituisce una tupla (b, a)
x , y = swap(x, y)
print("Scambio avvenuto: x =", x, "y =", y)

# # alternativa:
# x , y = y , x

# # alternativa con variabile temporanea:
# a = x
# x = y
# y = a

Inserire valore x:  4
Inserire valore y:  5

Scambio avvenuto: x = 5 y = 4

### 3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [15]:
import math
x = []
y = []
x.append( float(input("Inserire valore x[0]: ")) )
x.append( float(input("Inserire valore x[1]: ")) )
y.append( float(input("Inserire valore y[0]: ")) )
y.append( float(input("Inserire valore y[1]: ")) )
def dist(x, y):
    return math.sqrt( (x[0]-y[0])**2 + (x[1]-y[1])**2)
a = dist(x, y)
print("La distanza e:", a)

Inserire valore x[0]:  3
Inserire valore x[1]:  0
Inserire valore y[0]:  0
Inserire valore y[1]:  4

La distanza e: 5.0

### 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [22]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()    # rendo tutte le lettere minuscole
alfabeto = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',' ']
# in alternativa: alfabeto = list(string.ascii_lowercase)  # alfabeto minuscolo
conteggio = [0]*len(alfabeto)

for i in range(len(alfabeto)):
    conteggio[i] = s.count(alfabeto[i])
for i in range(len(alfabeto)):
    print(alfabeto[i], conteggio[i])

a 7
b 5
c 3
d 3
e 22
f 10
g 1
h 9
i 14
j 0
k 2
l 6
m 12
n 10
o 13
p 8
q 0
r 17
s 9
t 19
u 9
v 2
w 2
x 0
y 2
z 0
  41

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

conteggi = [0]*100
for i in range(len(l)):
    conteggi[l[i]] += 1
# stampo i numeri presenti una sola volta:
print("NUMERI UNICI: ")
for i in range(len(conteggi)):
    if conteggi[i] == 1: print(l[i])

### 6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [3]:
import math
def square(x):
    return x**2
def cube(x):
    return x**3
a = input("Immetti numero di cui fare la sesta potenza: ")
print(square(cube(float(a))))

Immetti numero di cui fare la sesta potenza:  2

64.0

### 7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [20]:
# PUNTO A:
cubes = []
for x in range(0,10):
    cubes.append(x**3)
print(cubes)

# PUNTO B:
cubes = []
[cubes.append(x**3) for x in range(0, 10)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### 8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [11]:
import math
import numpy as np

triple = []   # lista di tuple
for a in range(1, 100):
    for b in range(a, 100):
        for c in range(b, 100):
            if a**2 + b**2 == c**2:
                triple.append( (a,b,c) )
print(triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

### 9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [18]:
import math
def normalize(x):
    norm = math.sqrt( x[0]*x[0] + x[1]*x[1] + x[2]*x[2] )
    x = (x[0]/norm, x[1]/norm, x[2]/norm)
    return x
u0 = int( input("Insert first coordinate: ") )
u1 = int( input("Insert second coordinate: ") )
u2 = int( input("Insert third coordinate: ") )
u = [u0,u1,u2]
print(normalize(u))

Insert first coordinate:  1
Insert second coordinate:  1
Insert third coordinate:  1

(0.5773502691896258, 0.5773502691896258, 0.5773502691896258)