# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [2]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [13]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:",'\n', xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, "    type: ", type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs:
 a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]     type:  <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [14]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')    # cosi faccio l'esponenziale 
print (np.mean(xs), np.std(xs), '\n') # media e deviazione standard

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [15]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    0.461620
b   -1.052333
c   -0.478107
d   -1.246040
e   -1.112543
dtype: float64
a         NaN
b   -2.104667
c   -0.956215
d   -2.492080
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [16]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2024,11,27,10,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 27 2024'
# or alternatively
date = '27/11/2024 10:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2024-11-28
2024-11-27 10:45:10.000015
27/11/2024 10:45:00
DatetimeIndex(['2024-11-27 10:45:00', '2024-11-28 10:45:00',
               '2024-11-29 10:45:00', '2024-11-30 10:45:00',
               '2024-12-01 10:45:00', '2024-12-02 10:45:00',
               '2024-12-03 10:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2024-11-27 10:45:00', '2024-11-27 10:45:01',
               '2024-11-27 10:45:02', '2024-11-27 10:45:03',
               '2024-11-27 10:45:04', '2024-11-27 10:45:05',
               '2024-11-27 10:45:06', '2024-11-27 10:45:07',
               '2024-11-27 10:45:08', '2024-11-27 10:45:09',
               ...
               '2024-11-27 11:44:50', '2024-11-27 11:44:51',
               '2024-11-27 11:44:52', '2024-11-27 11:44:53',
               '2024-11-27 11:44:54', '2024-11-27 11:44:55',
               '2024-11-27 11:44:56', '2024-11-27 11:44:57',
               '2024-11-27 11:44:58', '2024-11-27 11:44:59'],
              dtype='datetime64[ns]', length=3600, freq='s')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of pythonâ€™s Datetime and is interchangeable with it in most cases.

In [17]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [ ]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2024-11-27':'2024-12-03'], '\n') # Note - includes end time

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [ ]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [18]:
entries=10
dates=pd.date_range('11/27/2024 10:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2024-11-27 10:45:00 -1.502442 -1.930493  0.800647  1.187644
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412
2024-11-27 12:45:00  0.775551 -1.404067 -0.609133 -0.093443
2024-11-27 13:45:00 -1.810837  0.338586  1.472593 -0.155294
2024-11-27 14:45:00 -0.428878  0.370274 -0.272185  1.690103
2024-11-27 15:45:00 -0.743899  0.098606 -1.440938  0.569603
2024-11-27 16:45:00 -0.600792  0.947123 -0.573333 -0.325389
2024-11-27 17:45:00 -0.403121 -0.584159 -0.576201 -0.541504
2024-11-27 18:45:00  0.288932  0.855065  0.144270  0.627850
2024-11-27 19:45:00  0.571135 -0.085261  0.144002  0.675072

or by means of a dictionary:

In [19]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [20]:
df.head(2)

                            A         B         C         D
2024-11-27 10:45:00 -1.502442 -1.930493  0.800647  1.187644
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412

In [21]:
df.tail(4)

                            A         B         C         D
2024-11-27 16:45:00 -0.600792  0.947123 -0.573333 -0.325389
2024-11-27 17:45:00 -0.403121 -0.584159 -0.576201 -0.541504
2024-11-27 18:45:00  0.288932  0.855065  0.144270  0.627850
2024-11-27 19:45:00  0.571135 -0.085261  0.144002  0.675072

In [22]:
df.index

DatetimeIndex(['2024-11-27 10:45:00', '2024-11-27 11:45:00',
               '2024-11-27 12:45:00', '2024-11-27 13:45:00',
               '2024-11-27 14:45:00', '2024-11-27 15:45:00',
               '2024-11-27 16:45:00', '2024-11-27 17:45:00',
               '2024-11-27 18:45:00', '2024-11-27 19:45:00'],
              dtype='datetime64[ns]', freq='h')

In [23]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df.values

array([[-1.50244201, -1.93049345,  0.8006466 ,  1.18764361],
       [-1.87134213,  1.08788121, -0.02953131,  0.65541213],
       [ 0.77555134, -1.40406713, -0.60913313, -0.09344317],
       [-1.81083698,  0.33858569,  1.47259298, -0.15529367],
       [-0.42887791,  0.3702744 , -0.27218527,  1.690103  ],
       [-0.74389882,  0.09860633, -1.44093767,  0.56960276],
       [-0.60079244,  0.94712293, -0.57333281, -0.32538861],
       [-0.40312148, -0.5841588 , -0.57620065, -0.54150449],
       [ 0.28893199,  0.85506479,  0.14426955,  0.62784993],
       [ 0.57113458, -0.08526065,  0.14400233,  0.67507156]])

In [25]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.572569  -0.030644  -0.093981   0.429005
std     0.944691   1.006118   0.812801   0.704144
min    -1.871342  -1.930493  -1.440938  -0.541504
25%    -1.312806  -0.459434  -0.575484  -0.139831
50%    -0.514835   0.218596  -0.150858   0.598726
75%     0.115919   0.733867   0.144203   0.670157
max     0.775551   1.087881   1.472593   1.690103

In [26]:
df.T

,2024-11-27 10:45:00,2024-11-27 11:45:00,2024-11-27 12:45:00,2024-11-27 13:45:00,2024-11-27 14:45:00,2024-11-27 15:45:00,2024-11-27 16:45:00,2024-11-27 17:45:00,2024-11-27 18:45:00,2024-11-27 19:45:00
A,-1.502442,-1.871342,0.775551,-1.810837,-0.428878,-0.743899,-0.600792,-0.403121,0.288932,0.571135
B,-1.930493,1.087881,-1.404067,0.338586,0.370274,0.098606,0.947123,-0.584159,0.855065,-0.085261
C,0.800647,-0.029531,-0.609133,1.472593,-0.272185,-1.440938,-0.573333,-0.576201,0.144270,0.144002
D,1.187644,0.655412,-0.093443,-0.155294,1.690103,0.569603,-0.325389,-0.541504,0.627850,0.675072

In [29]:
df.sort_index(axis=0,ascending=False)

                            A         B         C         D
2024-11-27 19:45:00  0.571135 -0.085261  0.144002  0.675072
2024-11-27 18:45:00  0.288932  0.855065  0.144270  0.627850
2024-11-27 17:45:00 -0.403121 -0.584159 -0.576201 -0.541504
2024-11-27 16:45:00 -0.600792  0.947123 -0.573333 -0.325389
2024-11-27 15:45:00 -0.743899  0.098606 -1.440938  0.569603
2024-11-27 14:45:00 -0.428878  0.370274 -0.272185  1.690103
2024-11-27 13:45:00 -1.810837  0.338586  1.472593 -0.155294
2024-11-27 12:45:00  0.775551 -1.404067 -0.609133 -0.093443
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412
2024-11-27 10:45:00 -1.502442 -1.930493  0.800647  1.187644

In [28]:
df.sort_values(by="C")

                            A         B         C         D
2024-11-27 15:45:00 -0.743899  0.098606 -1.440938  0.569603
2024-11-27 12:45:00  0.775551 -1.404067 -0.609133 -0.093443
2024-11-27 17:45:00 -0.403121 -0.584159 -0.576201 -0.541504
2024-11-27 16:45:00 -0.600792  0.947123 -0.573333 -0.325389
2024-11-27 14:45:00 -0.428878  0.370274 -0.272185  1.690103
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412
2024-11-27 19:45:00  0.571135 -0.085261  0.144002  0.675072
2024-11-27 18:45:00  0.288932  0.855065  0.144270  0.627850
2024-11-27 10:45:00 -1.502442 -1.930493  0.800647  1.187644
2024-11-27 13:45:00 -1.810837  0.338586  1.472593 -0.155294

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [32]:
## standard and safe
print (df['A'],'\n')   # colonna 'A'

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2024-11-27 10:45:00   -1.502442
2024-11-27 11:45:00   -1.871342
2024-11-27 12:45:00    0.775551
2024-11-27 13:45:00   -1.810837
2024-11-27 14:45:00   -0.428878
2024-11-27 15:45:00   -0.743899
2024-11-27 16:45:00   -0.600792
2024-11-27 17:45:00   -0.403121
2024-11-27 18:45:00    0.288932
2024-11-27 19:45:00    0.571135
Freq: h, Name: A, dtype: float64

2024-11-27 10:45:00   -1.502442
2024-11-27 11:45:00   -1.871342
2024-11-27 12:45:00    0.775551
2024-11-27 13:45:00   -1.810837
2024-11-27 14:45:00   -0.428878
2024-11-27 15:45:00   -0.743899
2024-11-27 16:45:00   -0.600792
2024-11-27 17:45:00   -0.403121
2024-11-27 18:45:00    0.288932
2024-11-27 19:45:00    0.571135
Freq: h, Name: A, dtype: float64

In [39]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2024-11-27 10:45:00":"2024-11-27 12:45:00"])

                            A         B         C         D
2024-11-27 10:45:00 -1.502442 -1.930493  0.800647  1.187644
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412
2024-11-27 12:45:00  0.775551 -1.404067 -0.609133 -0.093443
                            A         B         C         D
2024-11-27 10:45:00 -1.502442 -1.930493  0.800647  1.187644
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412
2024-11-27 12:45:00  0.775551 -1.404067 -0.609133 -0.093443

### Selection by label

In [37]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]  # mi restituisce le caselle con lo stesso indice (cioe insomma una riga)

A   -1.502442
B   -1.930493
C    0.800647
D    1.187644
Name: 2024-11-27 10:45:00, dtype: float64

In [34]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

                            A         B
2024-11-27 10:45:00 -1.502442 -1.930493
2024-11-27 11:45:00 -1.871342  1.087881
2024-11-27 12:45:00  0.775551 -1.404067
2024-11-27 13:45:00 -1.810837  0.338586
2024-11-27 14:45:00 -0.428878  0.370274
2024-11-27 15:45:00 -0.743899  0.098606
2024-11-27 16:45:00 -0.600792  0.947123
2024-11-27 17:45:00 -0.403121 -0.584159
2024-11-27 18:45:00  0.288932  0.855065
2024-11-27 19:45:00  0.571135 -0.085261

In [35]:
# showing label slicing, both endpoints are included:
df.loc['2024-11-27 14:45:00':'2024-11-27 16:45:00',['A','B']]

                            A         B
2024-11-27 14:45:00 -0.428878  0.370274
2024-11-27 15:45:00 -0.743899  0.098606
2024-11-27 16:45:00 -0.600792  0.947123

In [36]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-1.8713421348580621
-1.8713421348580621

### Selecting by position

In [40]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -1.810837
B    0.338586
C    1.472593
D   -0.155294
Name: 2024-11-27 13:45:00, dtype: float64

                            A         B
2024-11-27 13:45:00 -1.810837  0.338586
2024-11-27 14:45:00 -0.428878  0.370274

In [44]:
# selecting rows 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2024-11-27 11:45:00 -1.871342 -0.029531
2024-11-27 12:45:00  0.775551 -0.609133
2024-11-27 14:45:00 -0.428878 -0.272185

In [45]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3], '\n')

# selecting an individual element by position
print(df.iloc[1,1])

                            A         B         C         D
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412
2024-11-27 12:45:00  0.775551 -1.404067 -0.609133 -0.093443

                            B         C
2024-11-27 10:45:00 -1.930493  0.800647
2024-11-27 11:45:00  1.087881 -0.029531
2024-11-27 12:45:00 -1.404067 -0.609133
2024-11-27 13:45:00  0.338586  1.472593
2024-11-27 14:45:00  0.370274 -0.272185
2024-11-27 15:45:00  0.098606 -1.440938
2024-11-27 16:45:00  0.947123 -0.573333
2024-11-27 17:45:00 -0.584159 -0.576201
2024-11-27 18:45:00  0.855065  0.144270
2024-11-27 19:45:00 -0.085261  0.144002

1.0878812079225548

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [48]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]   # it prints only the rows where the element on column B is positive

                            A         B         C         D
2024-11-27 11:45:00 -1.871342  1.087881 -0.029531  0.655412
2024-11-27 13:45:00 -1.810837  0.338586  1.472593 -0.155294
2024-11-27 14:45:00 -0.428878  0.370274 -0.272185  1.690103
2024-11-27 15:45:00 -0.743899  0.098606 -1.440938  0.569603
2024-11-27 16:45:00 -0.600792  0.947123 -0.573333 -0.325389
2024-11-27 18:45:00  0.288932  0.855065  0.144270  0.627850

In [47]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2024-11-27 10:45:00       NaN       NaN  0.800647  1.187644
2024-11-27 11:45:00       NaN  1.087881       NaN  0.655412
2024-11-27 12:45:00  0.775551       NaN       NaN       NaN
2024-11-27 13:45:00       NaN  0.338586  1.472593       NaN
2024-11-27 14:45:00       NaN  0.370274       NaN  1.690103
2024-11-27 15:45:00       NaN  0.098606       NaN  0.569603
2024-11-27 16:45:00       NaN  0.947123       NaN       NaN
2024-11-27 17:45:00       NaN       NaN       NaN       NaN
2024-11-27 18:45:00  0.288932  0.855065  0.144270  0.627850
2024-11-27 19:45:00  0.571135       NaN  0.144002  0.675072

### Setting

Combination of selection and setting of values

In [ ]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

df

In [ ]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

In [ ]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2
df2

### Are you dealing with a Copy or a View?

In general is hard to tell..

In [ ]:
dfd = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})

# This is likely a view
subset = dfd.loc[0:1, 'a']  
subset[0] = 100  # May affect `df`

print (dfd)

# This is a copy
subset = dfd.loc[[0, 1], 'a']  
subset[0] = 200  # Does NOT affect `df`

print (dfd)

The behaviour depend on the version of Pandas and on the version of Numpy that given version of Pandas depends upon. Since Pandas 1.5 "Copy-on-Write" (CoW) is (optionally) available and as of Pandas 3.0 will be the default. 

With CoW chained assignemt will never work; in the following example, the view `df["foo"]` and `df` itself are modified in one step. This will lead to a `ChainedAssignemntError`

In [ ]:
dfd["a"][dfd["b"] > 5] = 100
dfd

With copy on write this can be done by using `loc`

In [ ]:
dfd.loc[dfd["b"] > 5, "a"] = 200
dfd

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [ ]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

In [ ]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

In [ ]:
df

In [ ]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2024-11-27 18:45:00"))

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
df_wNan = df[df>0]
df_wNan

In [ ]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

In [ ]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

In [ ]:
# filling missing data
df_wNan.fillna(value=0)

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [ ]:
df_wNan.fillna(method='pad')

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast due to several intrinsic optimizations:

* They are implemented in C/Cython via NumPy.
* Pandas processes columns as contiguous memory arrays.
* Vectorized operations eliminate the need for slow Python loops.
* Efficient memory and cache utilization boost performance.

In [ ]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

In [ ]:
# global operations on columns
df.apply(np.cumsum)

In [ ]:
df

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

Let's play it hard and load (in memory) a (relatively) large dataset

In [ ]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data.tail(10)

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
data['timens']

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

For tasks on extremely large datasets, libraries like [Polars](https://docs.pola.rs) or [Dask](https://www.dask.org) can offer even faster alternatives by further parallelizing or optimizing columnar operations.

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [3]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0  0.257860 -0.570192 -1.158308 -0.621798
1 -1.922267 -0.885109  0.007440  0.291447
2 -1.118791 -2.214128 -2.118419 -1.027866
3 -0.295261 -1.081564 -0.022190 -0.281046
4 -0.016118  0.420654 -0.697200 -1.036359
5 -0.249856  0.874292 -1.088701 -2.598164
6 -0.492321  0.117864  0.369320  0.873759
7  0.327005  0.169167  0.294224  0.838231
8 -0.567140  0.745664 -0.388140  0.455129
9  1.168910 -0.814145 -0.166625  1.577534

In [4]:
# divide it into pieces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0  0.257860 -0.570192 -1.158308 -0.621798
 1 -1.922267 -0.885109  0.007440  0.291447
 2 -1.118791 -2.214128 -2.118419 -1.027866,
           0         1         2         3
 3 -0.295261 -1.081564 -0.022190 -0.281046
 4 -0.016118  0.420654 -0.697200 -1.036359
 5 -0.249856  0.874292 -1.088701 -2.598164
 6 -0.492321  0.117864  0.369320  0.873759,
           0         1         2         3
 7  0.327005  0.169167  0.294224  0.838231
 8 -0.567140  0.745664 -0.388140  0.455129
 9  1.168910 -0.814145 -0.166625  1.577534]

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf = pd.concat([rdf,s.to_frame().T], ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples.

#### Merging, Inner Join (default)

Only rows with matching id values are included:

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'id': [2, 3, 4], 'age': [25, 30, 35]})

# Merge on the 'id' column
result = pd.merge(df1, df2, on='id')
print(result)

#### Merging, Left Join

A left join includes all rows from `df1` (left) and fills in `NaN` for missing matches in `df2`.

In [ ]:
result = pd.merge(df1, df2, on='id', how='left')
print(result)

#### Merging, Outer Join

An outer join includes all rows from both DataFrames, filling NaN for missing values

In [ ]:
result = pd.merge(df1, df2, on='id', how='outer')
print(result)

`join` is similar to `merge` but uses index as key and has 'Left' as default

In [ ]:
df1 = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie']}, index=[1, 2, 3])
df2 = pd.DataFrame({'age': [25, 30, 35]}, index=[2, 3, 4])

result = df1.join(df2)
print(result)

## Grouping

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure


Grouping is one of the most powerful and at the same time most sofisticated action you can perform with DataFrames. Mastering it is key for an effective usage of Pandas and vectorized data analysis. Reading the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) or going through a [tutorial](https://realpython.com/pandas-groupby/) is warmly recommended. 

Let's go through a few examples:

In [24]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Values': [10, 20, 30, 40, 50, 60]
}

df = pd.DataFrame(data)

# Group by 'Category' and calculate the sum of their 'Values'
result = df.groupby('Category').sum()
print(result)

df

          Values
Category
A             90
B             60
C             60

  Category  Values
0        A      10
1        B      20
2        A      30
3        B      40
4        A      50
5        C      60

In [26]:
# Multiple Aggregations
result = df.groupby('Category').agg(['sum', 'mean'])   # sum e mean sono dei metodi veri e propri, non puoi chiamarli in altro modo!!
print(result)

         Values
            sum  mean
Category
A            90  30.0
B            60  30.0
C            60  60.0

In [27]:
# Grouping by multiple columns
df = pd.DataFrame({'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
                   'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
                   'Values': [10, 20, 30, 40, 50, 60]})

result = df.groupby(['Category', 'Type']).sum()
print(result)

result = df.groupby(['Type', 'Category']).sum()
print(result)

result = df.groupby(['Values', 'Category']).sum()
print(result)
df

               Values
Category Type
A        X         10
         Y         20
B        X         30
         Y         40
C        X         50
         Y         60
               Values
Type Category
X    A             10
     B             30
     C             50
Y    A             20
     B             40
     C             60
                Type
Values Category
10     A           X
20     A           Y
30     B           X
40     B           Y
50     C           X
60     C           Y

  Category Type  Values
0        A    X      10
1        A    Y      20
2        B    X      30
3        B    Y      40
4        C    X      50
5        C    Y      60

In [28]:
# Trasformations using groupby(): add group averages to DataFrame

# la seguente riga calcola la media 'mean' della colonna 'Values' per ogni gruppo in Category e la assegna a una nuova colonna 'Group_Avg', 
    # replicando il valore medio per ogni riga del gruppo
df['Group_Avg'] = df.groupby('Category')['Values'].transform('mean')
print(df)

  Category Type  Values  Group_Avg
0        A    X      10       15.0
1        A    Y      20       15.0
2        B    X      30       35.0
3        B    Y      40       35.0
4        C    X      50       55.0
5        C    Y      60       55.0

In [29]:
# filtering
filtered = df.groupby('Category').filter(lambda x: x['Values'].sum() > 50)
print(filtered)

  Category Type  Values  Group_Avg
2        B    X      30       35.0
3        B    Y      40       35.0
4        C    X      50       55.0
5        C    Y      60       55.0

In [30]:
# custom aggregation with apply()
def custom_aggregation(group):
    return pd.Series({
        'Sum': group['Values'].sum(),
        'Max': group['Values'].max(),
        'Count': group['Values'].count()
    })

result = df.groupby('Category').apply(custom_aggregation)
print(result)

          Sum  Max  Count
Category
A          30   20      2
B          70   40      2
C         110   60      2

/tmp/ipykernel_4482/640594234.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.groupby('Category').apply(custom_aggregation)

In [36]:
# splitting data into groups
grouped = df.groupby('Category')

for name, group in grouped:
    print(f"Group: {name}")
    print(group)

Group: A
  Category Type  Values  Group_Avg
0        A    X      10       15.0
1        A    Y      20       15.0
Group: B
  Category Type  Values  Group_Avg
2        B    X      30       35.0
3        B    Y      40       35.0
Group: C
  Category Type  Values  Group_Avg
4        C    X      50       55.0
5        C    Y      60       55.0

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method â€œcompressesâ€ a level in the DataFrameâ€™s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')